body, html, ul {
    padding: 0;
    margin: 0
}

::-webkit-scrollbar {
    display: none;
}

.cart-title, .description-alignment {
    align-self: flex-start
}

main, nav, section {
    display: block
}

body, html {
    min-height: 100vh;
    min-width: 100%
}

body {
    font: 100% Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none
}

.sh-cart-position {
    position: absolute;
    top: 2px;
    left: 53px;
    padding: 8px;
    cursor: pointer
}

.shop-cart-button-active, .shop-cart-button:hover {
    transition: 110ms background-color;
    background-color: #aaa;
    border-radius: 10px
}

.sh-cart-size {
    font-size: 25px
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 47px;
    min-height: 47px;
    min-width: 100%;
    display: flex;
    justify-content: flex-end
}

.header-404, .login-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute
}

.navbar-ul {
    position: absolute;
    display: flex;
    right: 50px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap
}

.dropdown-content a {
    color: #000;
    display: block;
    text-decoration: none;
}

.nav-link-design {
    padding: 14px 16px;
    font-size: 16px;
    text-align: center;
    color: #000;
    display: block;
    text-decoration: none;
}

.nav-link-design:hover {
    background-color: #6176b1;
}

.navbar a.logout-hide {
    padding: 0;
}

.navbar a.logout-size {
    padding: 10px 20px;
}

.navbar a.login-page-button:hover {
    background-color: #000;
}

.dropdown {
    float: right;
    overflow: hidden;
    padding: auto 10px
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: 0;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0
}

.about-us-text-wrapper p, .contact-us-text-wrapper p, .featured-trips, .why-us-text-wrapper {
    font-size: 18px;
    line-height: 25px
}

.dropdown:hover .dropbtn {
    background-color: #6176b1
}

.dropdown-content {
    height: 0;
    overflow-y: hidden;
    position: absolute;
    background-color: #f9f9f9;
    width: 115px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1
}

.dropdown-content a {
    padding: 12px 16px;
    text-align: left
}

.dropdown-content a:hover {
    background-color: #efe8f2
}

.dropdown:hover .dropdown-content {
    position: absolute;
    height: 127px
}

.banner-wrapper {
    background-image: url(../images/banner2-opacity.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.featured-header {
    min-width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px
}

.featured-content-wrapper, .contact-us-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px
}

.about-us-wrapper, .why-us-wrapper, .contact-us-wrapper {
    padding-top: 40px;
    padding-bottom: 40px
}

.featured-trips, .featured-trips img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 265px
}

.featured-trip-button {
    text-decoration: none;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 40px
}

.featured-trip-button:hover {
    transition: .3s background-color;
    background-color: #eee
}

.move-label, .move-label-signup, .return-label, .return-label-signup {
    transition: transform 80ms, font-size 80ms linear
}

.about-us-wrapper, .contact-us-wrapper, tr:nth-child(even) {
    background-color: #e4e8f2
}

.about-us-header, .contact-us-header {
    max-width: 85%;
    margin: auto auto 30px
}

.about-us-text-wrapper, .why-us-header {
    margin: auto;
    max-width: 85%
}

.about-us-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.why-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.why-us-text-wrapper {
    max-width: 85%
}

.contact-us-content-wrapper {
    margin: auto;
    max-width: 90%
}

.contact-us-content, .contact-us-content img {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-us-content {
    width: 31%;
    min-height: 300px;
    max-height: 400px
}

.contact-us-content img {
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    display: block;
}

.contact-us-content p {
    margin: auto 45px;
}

.logo, .trip-lists img {
    margin-left: 50px;
    margin-top: 80px
}

.description, .table-wrapper, .thank-you-wrapper {
    margin-top: 30px;
    display: flex
}

.table-wrapper {
    align-items: center;
    justify-content: center;
    margin-bottom: 100px
}

table {
    border-collapse: collapse
}

td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd
}

td {
    padding: 18px;
    line-height: 1.6
}

.login-form {
    max-width: 300px;
    max-height: 300px
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 200px
}

.login-btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px
}

.logout {
    position: absolute;
    top: 3px;
    left: 100px
}

.label-style, .label-style-signup {
    position: relative;
    cursor: text;
    font-weight: 700
}

.txtBox, .txtBox-signup {
    min-height: 30px;
    min-width: 200px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 22px;
    line-height: 22px;
    text-indent: 10px
}

.label-style {
    max-width: 50%;
    transform: translate(10px, 45px)
}

.move-label {
    transform: translateY(15px)
}

.return-label {
    transform: translate(10px, 45px)
}

.label-style-signup {
    max-width: 80%;
    transform: translate(10px, 25px)
}

.move-label-signup {
    transform: translateY(0)
}

.return-label-signup {
    transform: translate(10px, 25px)
}

.login-page-button {
    background-color: transparent;
    border: 3px solid #000;
    line-height: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    max-height: 42px;
    box-sizing: border-box;
    cursor: pointer
}

.login-page-button:hover {
    transition: background-color .3s, border-color .3s, color .3s ease;
    background-color: #000;
    border-color: #444;
    color: #fff
}

.txtBox-filled-style, .txtBox-signup:focus, .txtBox:focus {
    background-color: #777;
    color: #fff;
    border-color: #777
}

.sign-up-wrapper {
    display: flex;
    font-size: 18px;
    line-height: 25px;
    flex-direction: column;
    align-items: center
}

.sign-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    max-height: 300px
}

.sign-up-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 200px
}

.no-account-span {
    margin-bottom: 10px
}

.logout-hide {
    padding: 0;
    width: 0;
    border: none;
    overflow-x: hidden
}

.signup-btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px
}

.error {
    color: red;
    font-weight: 700;
}

.description, .thank-you-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.description-content-wrapper {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px
}

.description img {
    max-width: 610px;
    max-height: 400px
}

.cart-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 3px;
    top: 43px;
    height: 0;
    overflow-y: hidden;
}

.cart-dropdown-show {
    min-height: 143px;
    overflow-y: visible;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #aaa;
    transform: translateX(-87px);
}

.cart-content {
    flex-direction: column;
    align-items: center;
    background-color: #aaa;
    min-width: 280px;
    color: #fff;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #111111;
    max-height: 70vh;
}

.cart-title {
    padding-top: 0;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 0;
}

.btn-cart-checkout, .btn-thank-you {
    border-radius: 5px;
    margin: auto;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #6176b1;
    box-shadow: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-add-to-cart, .btn-thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rm-cart-item {
    position: relative;
    padding: 0;
    margin: 0;
    transform: translate(-15px,-20px);
    cursor: pointer;
    font-size: 18px;
}

.cart-table {
    flex-direction: column;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.cart-table-body {
    flex-direction: column;
    min-width: 250px;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
    margin-right: -27px;
    padding-right: 13px;
}

.cart-item-row {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
}

.cart-item-row td {
    padding: 5px;
    border-bottom: none;
    cursor: default;
    max-width: 140px;
    text-align: center;
}

/*#cart-droopdown td {*/
    /*text-align: center;*/
/*}*/
.header-row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
    width: 250px;
}

.header-row th {
    border: none;
}

.btn-cart-checkout:hover {
    transition: 80ms background-color linear;
    background-color: #1e90ff;
    cursor: pointer
}

.add-trip-wrapper {
    margin-top: 50px;
    display: block;
}

.checkout-wrapper {
    padding: 50px;
    flex-direction: column;
    align-self: center;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

.checkout-wrapper td {
    min-width: 100px;
}

.checkout-header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}